---
layout: default
---


{% capture trunc_chars %}{% if page.narrow %}10{% else %}25{% endif %}{% endcapture %}


<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

<div class="d-md-block d-lg-none">
    {% include components/post-meta.html %}
</div>

{% if page.preface_text %}
<p><i>{{ page.preface_text }}</i></p>
{% endif %}

{{ content }}

<div class="previous-next">
    {% if page.previous.url & unless page.previous.tags contains "draft"%}
        Wooo{{ page.previous.tags }}YEAH
        <a class="previous" href="{{ page.previous.url }}">&laquo; {{ page.previous.title | truncate trunc_chars }}</a>
    {% endif %}
    {% if page.next.url & unless page.next.tags contains "draft"%}
        <a class="next" href="{{ page.next.url }}">{{ page.next.title | truncate trunc_chars }} &raquo;</a>
    {% endif %}
</div>

