<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.4.1.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/custom_footnotes.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link rel="alternate" type="application/atom+xml" title="Skewed" href="{{ site.baseurl }}/feed.xml">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <meta name="follow_it-verification-code" content="AKaKrHY394ECKG69wLyh"/>
</head>
