<p class="card-text">
    {% for link in site.data.profile %}
    <a href="{{link.href}}" class="d-flex align-items-center mb-1">
        <span class="icon grey mr-2">
            {% include {{link.icon}} %}
        </span>
        <span class="text-nowrap">{{link.caption}}</span>
    </a>
    {% endfor %}
</p>

<div class="card mb-3 shadow-lg">
    <div class="card-body text-center">
        <h5 class="card-title">Subscribe for Updates</h5>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=skeweddata', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <p><input type="text" class="form-control" placeholder="Enter your email" name="email"/></p>
            <input type="hidden" value="skeweddata" name="uri"/>
            <input type="hidden" name="loc" value="en_US"/>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>
