<!DOCTYPE html>
<html lang="en">

{% include structure/head.html %}

<body>

{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}

{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}

<div class="container site-container" id="top">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4 col-xl-{{ col1 }} side">
            {% include bars/side.html %}
        </div>
        <div class="col-md-12 col-lg-8 col-xl-{{ col2 }} pb-4 content">
            {{ content }}
        </div>
        <div class="col-md-12 d-lg-none bottom">
            {% include bars/bottom.html %}
        </div>
    </div>
</div>

<script>
    (function() {
        // Consent already given
        if (localStorage.getItem('consent') === 't')
            return

        // Don't do anyting on load.
        window.goatcounter = {no_onload: true}

        // Create a simple banner.
        var agree = document.createElement('div');
        agree.className = "navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom";
        agree.style.cursor = "pointer";
        agree.innerHTML = `
        <span class="navbar-text" style="color:rgba(255, 255, 255, 0.9); margin:auto; text-align:center;">
        This site collects anonymous pageview statistics to help me understand broad readership trends. Please click to agree.
        </span>`;

        // Send the event on click.
        agree.addEventListener('click', function(e) {
            e.preventDefault();
            localStorage.setItem('consent', 't');
            agree.parentNode.removeChild(agree);

            window.goatcounter.count();       // Send pageview.
            window.goatcounter.bind_events(); // If you use events.
        })

        document.body.appendChild(agree);
        document.body.style.paddingBottom = "30px";  // prevents overlap with text
    })()
</script>
<script data-goatcounter="https://rook166.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>


<script type="text/javascript">
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2017 The Bootstrap Authors
 * Copyright 2014-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// See the Getting Started docs for more information:
// https://getbootstrap.com/getting-started/#support-ie10-width

(function () {
    'use strict'

    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
            document.createTextNode(
                '@-ms-viewport{width:auto!important}'
            )
        )
        document.head.appendChild(msViewportStyle)
    }
}())
</script>

</body>

</html>
